<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Attention Miners</h3>
  <p>This is a personal Mining Pool.<br/>
     Miners that connect to this pool will NOT receive payouts!!!
  </p>
</div>
